
:root {
  
    --mainBlue: #0866FF;
    --mainBlueAccentDark: #394D62;
    --mainBlueAccentLight: #DFE9F2;
    --backgroundColorDark: #18191A;
    --backgroundColorLight: #F0F2F5;
    --accentColorLight: #fff;
    --accentColorLight2: #E4E6E9;
    --accentColorDark: #242526;
    --accentColorDark2: #3a3b3c;
    --textColorDark: #f2f2f2;
    --textColorLight: #0f0f0f;
    --neutralColorDark: #B8BBBF;
    --neutralColorLight: #606266;
  
    /*Use Only these */
    --bgColor: var(--backgroundColorDark);
    --textColor: var(--textColorDark);
    --accentColor: var(--accentColorDark);
    --accentColor2: var(--accentColorDark2);
    --blueAccent: var(--mainBlueAccentDark);
    --neutralColor: var(--neutralColorDark);
  }
  
  .lightMode {
    --bgColor: var(--backgroundColorLight);
    --textColor: var(--textColorLight);
    --accentColor: var(--accentColorLight);
    --accentColor2: var(--accentColorLight2);
    --blueAccent: var(--mainBlueAccentLight);
    --neutralColor: var(--neutralColorLight);
  }
  .darkMode {
    --bgColor: var(--backgroundColorDark);
    --textColor: var(--textColorDark);
    --accentColor: var(--accentColorDark);
    --accentColor2: var(--accentColorDark2);
    --blueAccent: var(--mainBlueAccentDark);
    --neutralColor: var(--neutralColorDark);
  }
  



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6 ,a , button, input{
    color: var(--textColor) !important;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bgColor);
}
.container{
    width: 95%;
    height: 100vh;
    
}
header{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}
.middle-header h4{
    color: var(--accentColor2);
}
.right-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.right-header img{
    height: 1.5rem;
    width: 1.5rem;
}    
.add{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--accentColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add img{
    height: 1.1rem;
    width: 1.1rem;
}
.nav-bar{
    display: flex;
    margin-top: 3%;
    gap: 3%;
}
.nav-bar button{
    width: 3rem;
    height: 1.7rem;
    border-radius: 14px;
    outline: 0;
    border: 0;
    background-color: transparent;
}
.nav-bar a{
    text-decoration: none;
    font-size: 0.6rem;
    color: var(--accentColor2);
}
.nav-bar button:hover{
    background-color: var(--blueAccent);
}
.nav-bar a:hover{
    color: var(--mainBlue);
}
hr{
    color: var(--textColor);
}
.suggest-header{
    margin-top: 5%;
}
.groups{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}
.left-grp{
    display: flex;
    gap: 3%;
}
.left-grp img{
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
}
.message h6{
    color: var(--textColor);
}
.right-btn button{
    width: 2.5rem;
    border-radius: 5px;
    background-color: var(--blueAccent);
    color: var(--mainBlue);
    border: 0;
    outline: 0;
    height: 2rem;
}
.container2{
    display: none;
    width: 97%;
}
.laptop-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--accentColor);
}
.left-header2{
    display: flex;
    align-items: center;
}
.search-bar, .bell, .box, .messenger{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--accentColor2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-header2{
    display: flex;
    align-items: center;
}
.right-header2 img{
    height: 2.5rem;
    border-radius: 50%;
}
.middle-header2{
    display: flex;
    gap: 30%;
}
.left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    background: var(--accentColor2);
}
.hero2{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    top: 5rem;
}
.left-hero{
    width: 27%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.left-wrapper{
    width: 97%;
}
.grp-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grp-header h3{
    font-size: 1.6rem;
}
.setting, .news, .discover, .ppl{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
}
.setting img{
    width: 1.5rem;
    height: 1.5rem;
}
.grp-search{
    display: flex;
    align-items: center;
    margin-top: 3%;
    border-radius: 15px;
    background-color: var(--bgColor);
    gap: 3%;
}
#grp-input{
    height: 2rem;
    flex: 1;
    outline: 0;
    border: 0;
    background-color: var(--accentColor2);
    border-radius: 5rem;
}
#grp-input::placeholder{
    padding-left: 10%;
}
.feed a{
    display: flex;
    align-items: center;
    margin-top: 3%;
    text-decoration: none;
    color: var(--accentColor);
    gap: 3%;
    height: 3rem;
    border-radius: 7px;
}
.feed a:hover{
    background-color: var(--bgColor);
}
.new-btn{
    width: 100%;
    height: 2.3rem;
    background-color: var(--blueAccent);
    margin-top: 5%;
    border-radius: 5px;
    outline: 0;
    border: 0;
    color: var(--mainBlue);
    font-weight: 600;
    font-size: 1rem;
}
.left-hr{
    margin-top: 5%;
    height: 1px;
}
.see-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.see-link a{
    color: var(--mainBlue);
    text-decoration: none;
}
.right-hero{
    width: 73%;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
}
.right-wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.right-wrapper h4{
    margin-top: 5%;
    margin-bottom: 3%;
    color: var(--textColor);
}
.recent-box{
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accentColor2);
    border-radius: 7px;
}
.recent-box h2{
    color: var(--textColor);
    font-size: 1.35rem;
}
.recent-box h3{
    font-size: 1.25rem;
    color: var(--textColor);
    font-weight: 200;
}
.recent-box button{
    margin-top: 5%;
    width: 11.5rem;
    height: 2.3rem;
    border-radius: 7px;
    outline: 0;
    border: 0;
    background-color: var(--mainBlue);
    color: var(--textColor);
    font-weight: 600;
    font-size: 0.85rem;
}
.recent-img{
    margin-top: 3%;
}
@media(min-width: 768px) and (max-width: 960px){
    .container{
        display: none;
    }
    .container2{
        display: block;
    }
    .see-link h3, .see-link a{
        font-size: 0.85rem;
    }
    .middle-header{
        gap: 3rem;
    }
    .grp-search img{
        height: 1.2rem;
        top: 15%;
    }
    #grp-input::placeholder{
        padding-left: 13%;
    }
    header{
        display: none;
    }
}
@media(min-width: 961px){
    .container{
        display: none;
    }
    .container2{
        display: block;
    }
    .middle-header{
        gap: 5rem;
    }
}
@media(min-width:1024px){
    .middle-header2{
        gap: 5.5rem;
    }
}