:root {
  --mainBlue: hsl(218, 100%, 50%);
  --mainBlueAccentDark: hsl(213, 24%, 30%);
  --mainBlueAccentLight: hsl(213, 57%, 89%);
  --backgroundColorDark: hsl(210, 5%, 10%);
  --backgroundColorLight: hsl(210, 23%, 95%);
  --accentColorLight: hsl(0, 0%, 100%);
  --accentColorLight2: hsl(210, 14%, 90%);
  --accentColorDark: hsl(210, 6%, 14%);
  --accentColorDark2: hsl(210, 6%, 23%);
  --textColorDark: hsl(0, 0%, 95%);
  --textColorLight: hsl(0, 0%, 6%);
  --neutralColorDark: hsl(210, 4%, 73%);
  --neutralColorLight: hsl(210, 4%, 40%);
  --neutralColorLighter: hsla(210, 4%, 40%, 0.349);
  /*Use Only these */
  --bgColor: var(--backgroundColorDark);
  --textColor: var(--textColorDark);
  --accentColor: var(--accentColorDark);
  --accentColor2: var(--accentColorDark2);
  --blueAccent: var(--mainBlueAccentDark);
  --neutralColor: var(--neutralColorDark);
}

.lightMode {
  --bgColor: var(--backgroundColorLight);
  --textColor: var(--textColorLight);
  --accentColor: var(--accentColorLight);
  --accentColor2: var(--accentColorLight2);
  --blueAccent: var(--mainBlueAccentLight);
  --neutralColor: var(--neutralColorLight);
}

.darkMode {
  --bgColor: var(--backgroundColorDark);
  --textColor: var(--textColorDark);
  --accentColor: var(--accentColorDark);
  --accentColor2: var(--accentColorDark2);
  --blueAccent: var(--mainBlueAccentDark);
  --neutralColor: var(--neutralColorDark);
}


@font-face {
  font-family: 'Segoe UI',sans-serif;   
  src: url("../assets/Segoe\ ui\ historic.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
 *, *::after, *::before,
ul,li,a,h5,h1,h2,h3,h4,h5
{
  font-family: 'Segoe UI',sans-serif;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  padding: 0;
  transition: all ease-out .2s;
}

body{
  background: var(--bgColor);
}


.mainContent
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixedDiv
{
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background: var(--bgColor);
  top: 3rem;
  z-index: 2;
}

#extraUserActions
{
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

#contacts
{
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.extraActionsList,
.contactsHolder,
.groupHolder
{ 
   width: 18rem;
  margin: 0;
  padding: .5rem 0;
  display: flex;
  flex-direction: column; 
}

.extraActionsList img, 
.extraActionsList svg,
.seeMore svg,
.contactsHolder > article svg
{
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
}
.seeMore ::after
{
  content: '';
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius:50%;
  top: 6px;
  left:8px;
  background: var(--accentColor);
}
.extraActionsLists
{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;  
  background: var(--bgColor);
  max-height: 30rem;
  overflow: hidden; 
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extraAction, .seeMore
{
  display: flex;
  text-decoration: none;
  font-size: 1rem;  
  color: var( --textColor);
  align-items: center;
  justify-content: flex-start;
  gap: .5rem; 
  border-radius: .5rem;
  padding: .5rem;
  height: 3rem;
  position: relative;
}

.terms
{
  display: flex;  
  gap: .4rem;
  max-width: 18rem;
  flex-wrap: wrap;
}
.terms > a
{
  color: var(--textColor);
  text-decoration: none;
  font-size: .9rem;
  margin: 0;
  padding: 0;
color: var(--neutralColor);
}
.terms > a:hover
{
  text-decoration: underline;
}



.contactsHolder 
{
  display: flex;
  gap: .5rem;
  border-bottom: 1px solid var(--accentColor);
}

.contactsHolder > article
{
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: .5rem;

}
.contactsHolder h3
{
flex-grow: 2;
color: var(--textColor);
}
.contact, .group
{
  display: flex;
  align-items: center;
  padding: .5rem;
  height: 3rem;
  gap: .5rem;
  color: var(--textColor);
  border-radius: .5rem;
}
.contact img,
.group img
{
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
}

.feedAndsNews
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4rem;
  padding: .5rem;
  gap: .8rem;
  width: fit-content;
}
.createPosts
{
  width: 33rem;
  display: flex;
background: var(--accentColor);
  flex-direction: column;
  gap: .2rem;
  border-radius: .5rem;
  border-bottom: 1px solid var(--accentColor);
  padding: .4rem;
  height: fit-content;
  

}
.whatsOnYourMind
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-bottom: 1px solid var(--accentColor2) ;
}
.whatsOnYourMind img
{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}
.whatsOnYourMindPostClickable
{
  cursor: pointer;
  width: 85%;
  border-radius: 2rem;
  padding-left: 1rem;
  color: var(--textColor);
  background: var(--accentColor2);
}
.mediaUpload
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.mediaUpload a
{
  text-decoration: none;
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  flex: 1;
  gap: .5rem;
  height: 3rem;
  font-size: .8rem;
}

.mediaUpload a >svg
 {
  width: 2rem;
 }

 
.storyContainer
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .4rem;  
  width: 100%;
  overflow: hidden;
  scroll-snap-type:proximity;
  height: 12rem;
  border-radius: .5rem;
  position: relative;
}
.userStory, .friendStory
{
  border-radius: 1rem;
  flex: 0 0 7rem;
  height: 100%;
  background: url('../assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  transition:  0.3s ease-in-out;
}
.friendStory{
  border-radius: 1rem;
}
a.userStory .userProfileImg:hover,
.storyContainer > .friendStory:hover
{
  background-repeat: no-repeat;
  background-size: 200%;
}

.userStory
{
  flex-direction: column;
}
.userProfileImg
{
  border-radius: 1rem 1rem 0 0 ;
  height: 75%;
  width: 100%;
  background: url('../assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
}
.userStory article
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
 border-radius: 0 0 .7rem .7rem;
  color: var(--textColor);
  font-size: 1.5rem;
  text-decoration: none;
  stroke: white;
  position: relative;
  border: 1px solid var(--accentColor2);
}
.userStory article::before
{
position: absolute;
content: '';
width: 3rem;
height: 3rem;
background: var(--mainBlue);
border: 5px solid var(--accentColor);
border-radius: 3rem;
bottom: 25px;
left: 30px;
}
.createStoryArticle{
  background: var(--accentColor);
}
.userStory article > svg
{
  position: absolute;
  bottom: 35px;
  left: 39px;
  width: 2rem;
}
.friendStory
{
  position: relative;
}
.friendProfileImg
{
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: url('../assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  top: 5%;
  left: 5%;
  border: 5px solid var(--mainBlue);
}
.friendName
{
  position: absolute;
  text-shadow: 0 0 5px var(--bgColor);
  font-size: 1rem;
  bottom: 0;
  left: 2rem;
  color: var(--textColor);
}
.clickableChevron
{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accentColor);
  border-radius: 2rem;
  padding: .5rem;
  box-shadow: 0 0 10px var(--accentColor2);
  position: absolute;
  cursor: pointer;
  width: 2.5rem;
&:hover
{
  transform: scale(1.1);
}
}
.rightChevron
{
  right: 0;
}

@media  (max-width : 64rem) 
{
#extraUserActions,
.extraActionsList,
.extraActionsList
{
  display: none;
}
.feedAndsNews
{
  left: -10rem;
}
}
@media(max-width:62rem) 
{
  #extraUserActions,
  .extraActionsList,
  .extraActionsList,
.contacts,
.fixedDiv,
.contactsHolder,
.groupHolder
  {
    display: none;
  }
.feedAndsNews
{
  left: 0;
}
}


@media screen and (max-width: 40rem) 
{
  #extraUserActions,
.extraActionsList,
.extraActionsList,
.contacts,
.fixedDiv,
.contactsHolder,
.groupHolder
{
  display: none;
}

.contacts,
.fixedDiv,
.contactsHolder,
.groupHolder,
.createStoryContainer
{
  display: none;
}

main.mainContent
{
  width: 100%;
  left: 0;
 
}
.feedAndsNews
{  
  background: var(--accentColor);
  width: 100%;
  padding: .5rem;
  z-index: 20;
  top: 5.2rem;
}



.storyContainer
{
  padding: .5rem;
  width: 100vw;
  background: var(--accentColor);
  height: 13rem;
  border-radius: 0;
}
.createPosts
{
  padding: .5rem;
  width: 100vw;
  background: var(--accentColor);
  border-radius: 0;
}
.postsContainer, .feedAndsNews{
  gap: .2rem;
  width: 100vw;
  background: var(--bgColor);
}
}

.postsContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}


