
:root {
  
  --mainBlue: #0866FF;
  --mainBlueAccentDark: #394D62;
  --mainBlueAccentLight: #DFE9F2;
  --backgroundColorDark: #18191A;
  --backgroundColorLight: #F0F2F5;
  --accentColorLight: #fff;
  --accentColorLight2: #E4E6E9;
  --accentColorDark: #242526;
  --accentColorDark2: #3a3b3c;
  --textColorDark: #f2f2f2;
  --textColorLight: #0f0f0f;
  --neutralColorDark: #B8BBBF;
  --neutralColorLight: #606266;

  /*Use Only these */
  --bgColor: var(--backgroundColorDark);
  --textColor: var(--textColorDark);
  --accentColor: var(--accentColorDark);
  --accentColor2: var(--accentColorDark2);
  --blueAccent: var(--mainBlueAccentDark);
  --neutralColor: var(--neutralColorDark);
}

.lightMode {
  --bgColor: var(--backgroundColorLight);
  --textColor: var(--textColorLight);
  --accentColor: var(--accentColorLight);
  --accentColor2: var(--accentColorLight2);
  --blueAccent: var(--mainBlueAccentLight);
  --neutralColor: var(--neutralColorLight);
}
.darkMode {
  --bgColor: var(--backgroundColorDark);
  --textColor: var(--textColorDark);
  --accentColor: var(--accentColorDark);
  --accentColor2: var(--accentColorDark2);
  --blueAccent: var(--mainBlueAccentDark);
  --neutralColor: var(--neutralColorDark);
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6 ,a , button, input{
  color: var(--textColor) !important;
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--bgColor);
}
.container1{
  width: 90%;
  background: var(--bgColor);
  position: relative;
  top: 5rem;
}
.header{
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
}
.menu-bar, .pencil{
  width: 2rem;
  height: 2rem;
  background-color: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.left-header{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.left-header h1{
  color: var(--textColor);
  font-size: 1.5rem;
}
.search-bar{
  width: 100%;
}
#search{
  width: 100%;
  height: 2.5rem;
  border-radius: 20px;
  background-color:var(--bgColor);
  border: 0;
}
#search::placeholder{
  color: var(--textColor);
  font-size: 0.8rem;
  font-weight: 700;
  padding-left: 5%;
}
.profile-header{
  margin-top: 5%;
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 1rem;
}
.user-note, .friend-note1, .friend-note2{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-header img, .friend1 img, .friend2 img, .friend3 img, .friend4 img, .friend5 img, .friend-profile img{
  height: 3.7rem;
  border-radius: 50%;
}
.profile-header h3{
  color: var(--textColor);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}
.friend1, .friend2, .friend3, .friend4, .friend5{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  margin-top: 7%;
}
.message{
  display: flex;
  flex-direction: column;
}
.message h3{
  color: var(--textColor);
  margin: 2% 0;
  font-size: 1rem;
}
.message h4{
  color:var(--textColor);
  margin: 0;
  font-size: 0.9rem;
}
.container2{
  position: relative;
  top: 5rem;
  background-color: var(--bgColor);
  width: 97%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.search-container{
  height: 2rem;
  width: 2rem;
  background-color: var(--accentColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search2{
  border: 0;
  outline: 0;
  background-color: transparent;
}
#search2::placeholder{
  font-size: 1.1rem;
}
.middle-header{
  display: flex;
  align-items: center;
}
.right-header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-img{
  height: 2rem;
  border-radius: 50%;
}
.menu2{
  margin-left: 0.3rem;
}
.box, .bell{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50px;
  background-color: var(--accentColor2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.laptop-header2{
  width: 100%;
  height: auto;
  display: flex;
}
.left-container{
  width: 12%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.left-header2{
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-hero{
  height: 100vh;
  overflow-y: auto;
}
.search-message{
  position: relative;
  padding: 0;
}
.search-message input{
  width: 4rem;
  height: 2rem;
  border-radius: 30px;
  border: 0;
  margin: 0 auto;
}
.search-message img{
  position: absolute;
  top: 14%;
  left: 0;
  height: 1.2rem;
}
.search-message input::placeholder{
  padding-left: 30%;
}
.middle-container{
  display: flex;
  flex-direction: column;
  width: 58%;
  height: 100vh;
  position: relative;
}
.middle-header2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
}
.message-active{
  display: flex;
  flex-direction: column;
}
.message-active h3{
  color: var(--textColor);
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.message-active h4{
  color: rgb(55, 55, 55);
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
}
.friend-header{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3%;
  width: 100%;
}
.call-icons{
  display: flex;
  align-items: center;
  gap: 20%;
}
.info{
  background-color: var(--mainBlue);
  border-radius: 50%;
  height: 2rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h1{
  font-size: 1rem;
  color: var(--bgColor);
  font-weight: 700;
}
hr{
  background-color: var(--neutralColor);
}
#middle-hero{
  width: 100%;
  height: 100vh;
  flex: 1;
  overflow-y: auto;
}
.profile-convo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}
.profile-convo h3{
  font-weight: 600;
  margin: 0;
  font-size: 1.1rem
}
.convo-date{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #65676B;
}
.message-received{
  display: flex;
  align-items: center;
  gap: 3%;
}
.message-received img{
  height: 2rem;
  border-radius: 50%;
}
.message-para{
  width: auto;
  height: 2rem;
  background-color: var(--bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.3rem;
  border-radius: 30px;
}
.message-para p{
  font-size: 0.9rem;
}
.message-sent{
  width: auto;
  height: 2rem;
  background-color: var(--mainBlue);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.3rem;
  border-radius: 30px;
  margin-top: 10%;
}
.message-sent{
  font-size: 0.9rem;
}
.message-encrypt{
  display: flex;
  align-items: flex-start;
  width: 95%;
  padding-top: 8%;
  margin: 0 auto;
}
.message-encrypt p{
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #65676B;
}
.message-encrypt a{
  text-decoration: none;
  color: var(--mainBlue);
}
.encrypt-padlock{
  padding-top: 1%;
}
.input-container{
 display: flex;
 align-items: center;
 gap: 1rem;
 position: absolute;
 bottom: 0;
 width: 100%;
}
.message-contain{
  position: relative;
}
.smiley{
  position: absolute;
  right: 2%;
  top:15%;
}
#message-input{
  border: 0;
  outline: 0;
  width: 17rem;
  height: 1.8rem;
  border-radius: 15px;
  background-color: var(--accentColor);
}
#message-input::placeholder{
  padding-left: 11px;
  font-size: 0.9rem;
}
.right-hero{
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.right-hero img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.right-encrypt{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 1.5rem;
  background-color: var(--accentColor2);
  margin-top: 1rem;
  border-radius: 15px;
}
.right-encrypt p{
  font-size: 0.8rem;
}
.right-notify{
  display: flex;
  width: 10rem;
  margin-top: 1rem;
  justify-content: space-between;
}
.right-circle{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--accentColor2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-profile h2{
  font-size: 0.8rem;
  font-weight: 500;
}
.right-profile a{
  text-decoration: none;
  color: var(--textColor);
}
.chat-info, .chat-custom, .media-files, .privacy{
  width: 90%;
  height: 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.change-theme, .change-emoji, .edit-name{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  align-self: flex-start;
  padding-left: 0.7rem;
  height: 1rem;
  font-size: 0.9rem;
}
.circle{
  background-color: var(--mainBlue);
  border-radius: 50%;
  width: 1.1rem;
  height: 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.inner-circle{
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--bgColor);
  border-radius: 50%;
}

.profile1{
  margin: 0 auto;
}
.profile1 img, .profile-convo img{
  border-radius: 50%;
  height: 4rem;
}
.chat-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-icons{
  display: flex;
  gap: 0.5rem;
  padding-right: 0.7rem;
}
.dots, .notepad{
  background-color: var(--accentColor);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-search{
 display: flex;
 align-items: center;
 background-color: var(--accentColor);
 border-radius: 15px;
 flex: 1;
 width: 100%;
 height: 1rem;
}
.chat-search input{
  height: 1rem;
  border-radius: 15px;
  outline: 0;
  border: 0;
  background-color: transparent;
}
.chat-search input::placeholder{
  font-size: 1rem
}
.profile2{
  margin-top: 1rem;
}
.profile2 a{
  display: block;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.last-convo{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.last-convo h3{
  color: var(--textColor);
  font-size: 1rem;
  margin: 0;
}
.last-convo h4{
  color: var(--accentColor2);
  font-size: 0.8rem;
  margin: 0;
}
.profile2 img{
  height: 4rem;
  border-radius: 50%;
}
.container2, .laptop-left{
  display: none;
}
@media (min-width:481px) and (max-width:768px){
  #search{
      height: 3.5rem;
  }
  #search::placeholder{
      font-size: 1.5rem;
  }
  .profile-header{
      height: 7rem;
  }
  .profile-header img, .friend1 img, .friend2 img, .friend3 img, .friend4 img, .friend5 img{
      height: 4.3rem;
  }
  .message h3{
      font-size: 1.5rem;
  }
  .message h4{
      font-size: 1.2rem;
  }
}
@media (min-width: 769px){
  body{
      background-color: var(--bgColor);
      height: 100%;
  }
  .container1, .ppl, .image-label{
      display: none;
  }
  .container2{
      display: block;
  }
  .middle-header{
      gap: 3rem;
  }
  .middle-container{
      height: 530px;
  }
}
@media (min-width: 905px) {
  .left-hero{
     display: none;
  }
  .middle-container{
      width: 36%;
  }
  .right-hero{
      width: 32%;
  }
  .laptop-left{
      display: block;
      width: 32%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;
  }
  #message-input{
      width: 10.5rem;
  }
  .left-container{
      display: none;
  }

}
@media (min-width: 1024px){
  .container1{
      display: none;
  }
  .container2, .ppl, .image-label{
      display: block;
  }
  .search-container, .menu2{
      display: none;
  }
  .middle-header{
      display: flex;
      gap: 5.5rem;
  }
  #message-input{
      width: 14rem;
  }
  .middle-container{
      height: 570px;
  }
}
@media (min-width: 1160px){
  #message-input{
      width: 16rem;
  }
}
