:root {
  
  --mainBlue: #0866FF;
  --mainBlueAccentDark: #394D62;
  --mainBlueAccentLight: #DFE9F2;
  --backgroundColorDark: #18191A;
  --backgroundColorLight: #F0F2F5;
  --accentColorLight: #fff;
  --accentColorLight2: #E4E6E9;
  --accentColorDark: #242526;
  --accentColorDark2: #3a3b3c;
  --textColorDark: #f2f2f2;
  --textColorLight: #0f0f0f;
  --neutralColorDark: #B8BBBF;
  --neutralColorLight: #606266;

  /*Use Only these */
  --bgColor: var(--backgroundColorDark);
  --textColor: var(--textColorDark);
  --accentColor: var(--accentColorDark);
  --accentColor2: var(--accentColorDark2);
  --blueAccent: var(--mainBlueAccentDark);
  --neutralColor: var(--neutralColorDark);
}

@font-face {
  font-family: 'Segoe UI',sans-serif;
  src: url("/assets/Segoe\ ui\ historic.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
 *, *::after, *::before,
ul,li,a,h5,h1,h2,h3,h4,h5
{
  font-family: 'Segoe UI',sans-serif;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  padding: 0;
  transition: all ease-out .2s;
}

ul,li,a,h5,h1,h2,h3,h4,h5
{
  text-decoration: none;

  max-width: 75ch;
  
}
li > a:hover,
.mediaUpload > a:hover,
.primaryNavigation:hover,
.contact:hover,
.group:hover,
.userReactions:hover
{background: var(--accentColor2);
}
.facebookSearch:hover, 
.secondaryNavigation:hover,
.whatsOnYourMindPostClickable:hover
{
  filter: brightness(1.2);
}


.facebookSearchAndIcon h1,
#hamburgerSvg,
#primaryMesengerNav,
#primaryNotificationNav,
.facebookSearch .arrow,
.whatsOnYourMindNav
{
  display: none;
} 
body
{
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
padding: 0;
background: var(--bgColor);
overflow-x: hidden;
box-sizing: border-box;
}

header
{
  display: flex;
  align-items: center;    
  justify-content:space-between;
  width: 100%;
  background:var(--accentColor);
  border-bottom: 1px solid var(--accentColor2);
  padding: 0rem  1rem;
  height:3.5rem;
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
}
.facebookSearchAndIcon
{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 22rem;
  height: 3rem;
}
.facebookSearchAndIcon svg
{
  width: 3rem;
}
.facebookSearch
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--accentColor2);
  height: 3rem;
  width: 18rem;
  border-radius: 3rem;
}
.facebookSearch > #svgSearch
{
  fill: var(--neutralColor);
  width:1rem;
}
#searchFacebookClone
{
  background: none;
  border: none;
  color: var(--neutralColor);
  width: 12rem;
}

  
#navLinks,
#userActions
{
display: block;
padding: 0;
}
#navLinks ul
{
  display: flex;
  align-items: center;
  justify-content:center;
  justify-content:center;
height: 2rem;
width: 30rem;
}

#userActions ul
{
display: flex;
align-items: center;
justify-content:flex-end;
width: 22rem;
gap: .5rem;
}

.navSvg
{
  width: 1.5rem;
  color: var(--neutralColor);
  fill: var(--neutralColor);
  outline: var(--neutralColor);
}
.primaryNavigation:nth-of-type(1)
{
  position: relative;
}
.primaryNavigation:nth-of-type(1):hover
{
  background: none;
}
.primaryNavigation:nth-of-type(1)::after
{
  position: absolute;
  content: '';
  width: 100%;
  height: 2.5px;
  bottom: -5px;
  border-radius: 2px;
  background: var(--mainBlue);
}
.primaryNavigation:nth-of-type(1)  a > .navSvg path
{
  fill: var(--mainBlue);
  color: var(--mainBlue);
  
}
.primaryNavigation:nth-of-type(1) > a:hover
{
  background: none;
}
.primaryNavigation
{
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
 height: 2rem;
 padding: 1.5rem;
 border-radius: .5rem;
 background: var(--accentColor);
 justify-content: center;
}

.secondaryNavigation
{
  flex: 0 0 2.5rem;
  height: 2.5rem;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accentColor2);
}
.secondaryNavigation:nth-of-type(4) 
{
  background: url('assets/images/profile.jpg');
  background-size: cover; 
  position: relative;
  background-position: center; 
  max-height: 3rem;
  max-width: 3rem;
  cursor: pointer;
}
.secondaryNavigation:nth-of-type(4)::before
{
  content: '';
position: absolute;
width: 15px;
height: 15px;
border: 3px solid var(--accentColor);
border-radius: 2rem;
top: 1px;
right: 0;
background: red;
}
.secondaryNavigation a >svg
{
  width: 1.2rem;
}
#userActions 
{
  width:20rem;
  display: flex;
}
#profileNav 
{
  background: url('assets/images/profile.jpg');
  background-size: cover; 
  background-position: center; 
  max-height: 3rem;
}


@media  (max-width : 64rem) {
header
  {
    display: flex;
    padding:0rem;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    padding: 1rem;
  }
  .facebookSearchAndIcon
  {
    display: flex;
    justify-content: flex-start;
  }
.facebookSearch
{
  display: flex;
  align-items: center;
  justify-content:center;
  background: var(--accentColor2);
  padding: .5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}
.facebookSearchAndIcon h1
{
  display: none;
  color: var(--textColor);

}
.facebookSearchAndIcon svg
{
  width: 3rem;
}
.facebookSearch > #svgSearch
{
  fill: var(--neutralColor);
  width: 1.5rem;
}
#searchFacebookClone
{
  display: none;
}

.primaryNavigation:nth-of-type(1):hover
{
  filter: brightness(1);
}
.primaryNavigation:nth-of-type(1)::after
{
  position: absolute;
  content: '';
  width: 100%;
  height: 2.5px;
  bottom: -15px;
  border-radius: 2px;
  background: var(--mainBlue);
}
#navLinks ul,
.userActions ul
{
  display: flex;
  align-items: center;
  justify-content: space-between;
 height: 2rem;
width: 20rem;
}
.primaryNavigation:nth-of-type(1)::after
{
  bottom: -10px;
}
.navSvg
{
  max-width: 1.5rem;
  color: var(--neutralColor);
  fill: var(--neutralColor);
  outline: var(--neutralColor);
}

}

@media   (max-width:62rem) {
  header
  {
    display: flex;
    padding:1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }
  .facebookSearchAndIcon
  {
    display: flex;
    justify-content: flex-start;
  }
.facebookSearch
{
  display: flex;
  align-items: center;
  justify-content:center;
  background: var(--accentColor2);
  padding: .5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}
.facebookSearchAndIcon h1
{
  display: none;
  color: var(--textColor);

}
.facebookSearchAndIcon svg
{
  width: 3rem;
}
.facebookSearch > #svgSearch
{
  fill: var(--neutralColor);
  width: 1.5rem;
}
#searchFacebookClone
{
  display: none;
}

.primaryNavigation:nth-of-type(1):hover
{
  filter: brightness(1);
}
.primaryNavigation:nth-of-type(1)::after
{
  position: absolute;
  content: '';
  width: 100%;
  height: 2.5px;
  bottom: -15px;
  border-radius: 2px;
  background: var(--mainBlue);
}
#navLinks ul,
.userActions ul
{
display: none;
}
.primaryNavigation:nth-of-type(1)::after
{
  bottom: -10px;
}
.navSvg
{
  max-width: 1.5rem;
  color: var(--neutralColor);
  fill: var(--neutralColor);
  outline: var(--neutralColor);
}

}
@media (max-width:48rem) {
  #navLinks ul
  {
    display: none;
  }

}

@media screen and (max-width: 40rem) {
  header
    {
      width: 100%;
      height: fit-content;
      padding: .5rem;
      display: flex;
      justify-content: center;
      gap: .5rem;
      flex-direction: column;
    position:fixed;
top:0;
    }

    
    .facebookSearchAndIcon
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: .5rem;
    border-bottom: 1px solid var(--accentColor2);
  }
  .facebookSearchAndIcon h1
  {
    display: block;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    color: var(--textColor);
  }
  #facebookLogo
  {
    display: none;
  }
#hamburgerSvgGroup
{
  display: block;
  cursor: pointer;
  stroke: var(--neutralColor);
  height: 2px;
}
  .facebookSearch > #svgSearch
  {
    fill: var(--neutralColor);
    width: 1rem;
  }
  .facebookSearch
  {
    max-width: 2rem;
    max-height: 2rem;
  }
  #searchFacebookClone
  {
    display: none;
  }
  #userActions
  {
    display: none;
  }


  #navLinks
  {
    display: flex;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--accentColor2);
  }
  #navLinks ul
{
  width: 100%;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
  #navLinks ul >li 
  {
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 0;
  } 

  .whatsOnYourMindNav
{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: .5rem;
  width: 100%;
  padding: 0;
} 
 #whatsOnYourMindProfile 
  {
    display: flex;
    background: url('assets/images/profile.jpg');
    max-width: 2.5rem;
    max-height: 2.5rem;
    background-size: cover; 
    position: relative;
    background-position: center; 
    cursor: pointer;
  }
 #whatsOnYourMindProfile::before
  {
    content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid var(--accentColor);
  border-radius: 2rem;
  top: 1px;
  right: 0;
  background: red;
}


.whatsOnYourMindNav input{
  width: 25rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 4rem;
  outline: none;
  border: none;
  background: var(--accentColor2);
}

.whatsOnYourMindNav > .photo
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: var(--textColor);
    font-size: 1rem;
    gap: .5rem;
  }
.whatsOnYourMindNav .photo svg
{
  width: 1.5rem;
}
.primaryNavigation:nth-of-type(1)::after{
  display: none;
}
.primaryNavigation a > svg
{
  width: 1.2rem;
}
}


.mainContent
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixedDiv
{
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background: var(--bgColor);
  top: 3rem;
  z-index: 2;
}

#extraUserActions
{
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

#contacts
{
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.extraActionsList,
.contactsHolder,
.groupHolder
{ 
   width: 18rem;
  margin: 0;
  padding: .5rem 0;
  display: flex;
  flex-direction: column; 
}

.extraActionsList img, 
.extraActionsList svg,
.seeMore svg,
.contactsHolder > article svg
{
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
}
.seeMore ::after
{
  content: '';
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius:50%;
  top: 6px;
  left:8px;
  background: var(--accentColor);
}
.extraActionsLists
{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;  
  background: var(--bgColor);
  max-height: 30rem;
  overflow: hidden; 
}
.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extraAction, .seeMore
{
  display: flex;
  text-decoration: none;
  font-size: 1rem;  
  color: var( --textColor);
  align-items: center;
  justify-content: flex-start;
  gap: .5rem; 
  border-radius: .5rem;
  padding: .5rem;
  height: 3rem;
  position: relative;
}

.terms
{
  display: flex;  
  gap: .4rem;
  max-width: 18rem;
  flex-wrap: wrap;
}
.terms > a
{
  color: var(--textColor);
  text-decoration: none;
  font-size: .9rem;
  margin: 0;
  padding: 0;
color: var(--neutralColor);
}
.terms > a:hover
{
  text-decoration: underline;
}



.contactsHolder 
{
  display: flex;
  gap: .5rem;
  border-bottom: 1px solid var(--accentColor);
}

.contactsHolder > article
{
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: .5rem;

}
.contactsHolder h3
{
flex-grow: 2;
color: var(--textColor);
}
.contact, .group
{
  display: flex;
  align-items: center;
  padding: .5rem;
  height: 3rem;
  gap: .5rem;
  color: var(--textColor);
  border-radius: .5rem;
}
.contact img,
.group img
{
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
}

.feedAndsNews
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4rem;
  padding: .5rem;
  gap: .8rem;
  width: fit-content;
}
.createPosts
{
  width: 32rem;
  display: flex;
background: var(--accentColor);
  flex-direction: column;
  gap: .2rem;
  border-radius: .5rem;
  border-bottom: 1px solid var(--accentColor);
  padding: .4rem;
  height: fit-content;
  

}
.whatsOnYourMind
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-bottom: 1px solid var(--accentColor2) ;
}
.whatsOnYourMind img
{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}
.whatsOnYourMindPostClickable
{
  cursor: pointer;
  width: 85%;
  border-radius: 2rem;
  padding-left: 1rem;
  color: var(--textColor);
  background: var(--accentColor2);
}
.mediaUpload
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.mediaUpload a
{
  text-decoration: none;
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  flex: 1;
  gap: .5rem;
  height: 3rem;
}

.mediaUpload a >svg
 {
  width: 2rem;
 }

 
.storyContainer
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .4rem;  
  width: 100%;
  overflow: hidden;
  scroll-snap-type:proximity;
  height: 12rem;
  border-radius: .5rem;
  position: relative;
}
.userStory, .friendStory
{
  border-radius: 1rem;
  flex: 0 0 7rem;
  height: 100%;
  background: url('assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  transition:  0.3s ease-in-out;
}
.friendStory{
  border-radius: 1rem;
}
a.userStory .userProfileImg:hover,
.storyContainer > .friendStory:hover
{
  background-repeat: no-repeat;
  background-size: 200%;
}

.userStory
{
  flex-direction: column;
}
.userProfileImg
{
  border-radius: 1rem 1rem 0 0 ;
  height: 75%;
  width: 100%;
  background: url('assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
}
.userStory article
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
 border-radius: 0 0 .7rem .7rem;
  color: var(--textColor);
  font-size: 1.5rem;
  text-decoration: none;
  stroke: white;
  position: relative;
  border: 1px solid var(--accentColor2);
}
.userStory article::before
{
position: absolute;
content: '';
width: 3rem;
height: 3rem;
background: var(--mainBlue);
border: 5px solid var(--accentColor);
border-radius: 3rem;
bottom: 25px;
left: 30px;
}
.createStoryArticle{
  background: var(--accentColor);
}
.userStory article > svg
{
  position: absolute;
  bottom: 35px;
  left: 39px;
  width: 2rem;
}
.friendStory
{
  position: relative;
}
.friendProfileImg
{
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: url('assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  top: 5%;
  left: 5%;
  border: 5px solid var(--mainBlue);
}
.friendName
{
  position: absolute;
  text-shadow: 0 0 5px var(--bgColor);
  font-size: 1rem;
  bottom: 0;
  left: 2rem;
  color: var(--textColor);
}
.clickableChevron
{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accentColor);
  border-radius: 2rem;
  padding: .5rem;
  box-shadow: 0 0 10px var(--accentColor2);
  position: absolute;
  cursor: pointer;
  width: 2.5rem;
&:hover
{
  transform: scale(1.1);
}
}
.rightChevron
{
  right: 0;
}

@media  (max-width : 64rem) 
{
#extraUserActions,
.extraActionsList,
.extraActionsList
{
  display: none;
}
.feedAndsNews
{
  left: -10rem;
}
}
@media(max-width:62rem) 
{
  #extraUserActions,
  .extraActionsList,
  .extraActionsList,
.contacts,
.fixedDiv,
.contactsHolder,
.groupHolder
  {
    display: none;
  }
.feedAndsNews
{
  left: 0;
}
}


@media screen and (max-width: 40rem) 
{
  #extraUserActions,
.extraActionsList,
.extraActionsList,
.contacts,
.fixedDiv,
.contactsHolder,
.groupHolder
{
  display: none;
}

.contacts,
.fixedDiv,
.contactsHolder,
.groupHolder,
.createPosts,
.createStoryContainer
{
  display: none;
}

main.mainContent
{
  width: 100%;
  left: 0;
  background: var(--accentColor);
 
}
.feedAndsNews
{  
  background: var(--accentColor);
  width: 100%;
  padding: .5rem;
  z-index: 20;
  top: 12rem;
}
.storyContainer
{
  
  border-top: 5px solid black;
  border-bottom: 2px solid black;
}


.storyContainer
{
  padding: .5rem;
  width: 100%;
  height: 13rem;
  border-radius: 0;
}
}


.postsContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}
.postCard
{
  background: var(--accentColor);
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

.postCard svg
{
 width: 2rem;
}
.postUploader,
.postCaption,
.postImage,
.engagement
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  border-radius:  inherit  ;
  color: var(--textColor);
  position: relative;
}
.uploaderProfile
{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.uploaderImage
{
  background: url('assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}
.uploaderData
{
  display: flex;
  gap: .3rem;
  flex-direction: column;
  position: relative;
}
.uploaderData a
{
  font: .8em sans-serif;
  transition: color 0.3s ease; 
}
.uploderName {
  color: var(--textColor);
  text-decoration: none;
  transition: color 0.3s ease;
}

.uploaderNameSpan {
position: absolute;
right: 0;
color: var(--mainBlue);
  font: 1em sans-serif;  
}

.timeUploaded {
  color: var(--textColor); 
  text-decoration: none;
}

/* Hover effects */
.uploderName:hover {
  text-decoration: underline;}

.uploaderNameSpan:hover {
  color: var(--mainBlue);
  text-decoration: underline;
}
.timeUploaded:hover {
  text-decoration: underline; 
  color: var(--textColor); 
  
}
.postImage{
  background: url('assets/images/profile.jpg');
  height: 20rem;
  border-radius: 0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.reactions
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  color: var(--neutralColor);
  position: relative;
}

.reactions a > svg {
 position: absolute;
}
#likeSvgReaction{
  left: 0;
  top: 0px;
  width: 1.2rem;
}
#heartSvgIcon{
  left :14px;
  top: -3px;
  width: 1.5rem;
}
.engagement{
  padding:  0 1rem ;
}
.engagement::after
{
  content: '';
  position: absolute;
  width: 95%;
  border-bottom: .1px solid var(--neutralColor);
  bottom: 0;
  left: 15px;
}

.commentsAndShares{
  display: flex;
  gap: 1rem;
&.commentsAndShares a:hover
{
  text-decoration: underline;
}
}
.commentsAndShares a,
.userEngagement,
.userReactions
{
  align-items: center;
  gap: .2rem;
  color: var(--neutralColor);
  display: flex;
}
.userEngagement{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  position: relative;
}
.userReactions{
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  cursor: pointer;
  height: 2.5rem;
  font-size: 1.5rem;
  position: relative;
  gap: .2rem;
}
.userReactions > h6
{
  pointer-events: none;
}
.userReactions svg {
width: 1.5rem;
}
.userEngagement::after{
  content: '';
  position: absolute;
  width: 95%;
  bottom: 0px;
  border-bottom: .1px solid var(--neutralColor) ;
}
.commentsOverFlow{
  width: 32rem;

}

.userCommentInput
{
display: flex;
width: 100%;
padding: 1rem;
justify-content: space-between;
}
.userProfileImgComment{
  background: url('./assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}
.commentInput{
  width: 90%;
  background: var(--accentColor2);
  border-radius: 2rem;
  padding: .2rem;
  gap: .3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 3rem;
}
.commentInput input{
  width: 75%;
  height: 2.5rem;
  background: none;
  outline: none;
  border: none;
  padding-left: 1rem;
  color: var(--neutralColor);
}
.commentInput input:focus{
width: 100%;
}



.commentInput a> svg{
  width: 1rem;
  fill: var(--neutralColor);
}
#sendCommentIconSvg{
  display: none;
}
@media (max-width:40rem) {
   
  .postsContainer{
    gap: 0;
  }

  .postCard
  {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
    border-radius: 0;
    height: fit-content;
  }
  .postUploader,
  .postCaption,
  .engagement,
  .userEngagement,
.commentsOverFlow,
.userCommentInput
{
  width: 100%;
  padding: .4rem;
}
.uploaderProfile
{
  display: flex;
  align-items: center;
  gap: .2rem;
}
.uploaderImage
{
  background: url('assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
}
.uploaderData
{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.uploaderData a
{
  font: .7em sans-serif;
  transition: color 0.3s ease; 
}
.postCaption > p
{
  text-decoration: none;
  max-width: 70ch;
  line-height: 20px;  
}
.postImage{
  height: 18rem;
}

.reactions
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  color: var(--neutralColor);
  position: relative;
}
.reactions p
{
  font-size: .8rem;
}
.reactions a > svg {
 position: absolute;
}
#likeSvgReaction{
  left: 0;
  top: 0px;
  width: 1rem;
}
#heartSvgIcon{
  left :14px;
  top: 0px;
  width: 1.1rem;
}
.engagement{
  padding: .5rem .5rem ;
}
.engagement::after
{
  display: none;
}

.commentsAndShares{
  display: none;
  gap: .5rem;
&.commentsAndShares a:hover
{
  text-decoration: underline;
}
}
.commentsAndShares a,
.userEngagement,
.userReactions
{
  align-items: center;
  gap: .2rem;
  color: var(--neutralColor);
  display: flex;
  font-size: .7rem;
}
.userReactions
{
 background: red;
}
.userEngagement a > svg
{
 width: 1.2rem;
}
.userReactions
{
  display: flex;
  align-items: center;
  gap: .2rem;
  justify-content: center;
  font-size: 1rem;
  height: 2rem;
 background: var(--accentColor2);
 border-radius: 2rem;
}
.userReactions:nth-of-type(3){
  display:none;
}
.userCommentInput
{
display: none;
padding: .5rem 1rem;
justify-content: flex-start;
gap: .5rem;
align-items: center;
}
.userEngagement::after{
  display: none;
}
.userProfileImgComment{
  background: url('./assets/images/profile.jpg');
  background-position: center;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}


.commentInput{
  
  background: var(--accentColor2);
  border-radius: 2rem;
  padding: 0;
  height: 2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 2.5rem;
}
.commentInput input{
  flex: 1;
  height: 2.5rem;
  background: none;
  outline: none;
  border: none;
  color: var(--neutralColor);
}
.commentInput input:focus{
width: 100%;
}


}